SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3333
USOS_APPS_URL=https://apps.usos.pwr.edu.pl
USOS_CONSUMER_KEY=
USOS_CONSUMER_SECRET=

FORMS_LINK=
FORMS_FIELD_EMAIL=
FORMS_FIELD_TITLE=
FORMS_FIELD_DESCRIPTION=
GITHUB_TOKEN=

DATABASE_URL=postgresql://planer:planer@localhost:5432/planer
REDIS_URL=redis://localhost:6379
BETTER_AUTH_SECRET=secret
BETTER_AUTH_URL=http://localhost:3000